*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    height: 100vh;
    width: 100vw;
}
.container
{
    height: 100%;
    width: 100%;
    background-color: rgb(96, 105, 113);
    display: grid;
    gap: 4px;
    padding: 4rem;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-content: center;

}
.items
{
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(135, 121, 121);
    justify-content: center;
    align-content: center;
}
.header
{
    grid-column-start: 1;
    grid-column-end: 6;
    align-content: center;
}
.footer
{
    grid-column-start: 1;
    grid-column-end: 6;
    height: 150px;
    width: 1400px;
}
.sidebar
{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}